

.registroMascota {    
    margin-left: 35% !important;
    margin-top: 10% !important;
}

.registroMascota, .titulo{
    color: black;
    margin-left: 4%;

}

.registroMascota, #nombreM,#raza,#fecha,#razon{
    color: blue;

}

.registroMascota #boton{
    margin-left: 30%;
    color: gray;
}

.titulo{
    margin-left: 10%;
    margin-top: 3%;
 
    color: rgb(0, 0, 0);
    text-decoration: dashed;
}

.tituloError{
    margin-left: 40%;
    margin-top: 3%;
    width: 50%;
    height: 40%;
    color: rgb(0, 0, 0);
    text-decoration: dashed;
}

.regresoLogin{
    margin-left: 5%;
    margin-bottom: 2%;
    width: 50%;
    height: 40%;
    color: gray;
}

.imagenPerro{
    align-items: center;
    margin-left: 35%;
    margin-top: 0%;

    display: flex;
}

.imgPerroTriste{
    width: 400px;
    height: 400px;
}