#form{
    /* text-align: center; */
    /* align-items: center; */
    padding-left: 42%;
    padding-top: 5%;   
}
.titulo{
    text-decoration: underline;
    font-weight: bold;
    padding-left: 6.5%;
}

#btnIniciar {
    margin-left: 5%;
    margin-top: 1%;
}

.textoBienvenida{
    text-align: center;
    margin-right: 30%;

}

.tituloG{
    margin-top: 10%;
}



input{
    height: 200;
}