#form{
    /* text-align: center; */
    /* align-items: center; */
    padding-left: 40%;
    
}
.titulo{
    text-decoration: underline;
    font-weight: bold;
    padding-left: 6%;
}

#btnIniciar {
    margin-left: 5%;
    margin-top: 1%;
}

.tituloG{
    margin-top: 10%;
}

input{
    height: 200;
}